.idea
.vscode

venv
__pycache__

node_modules
package-lock.json

staticfiles/*
static/dist/main.css
static/dist/main.css.map

static/dist/css/output.css
static/dist/main.bundle.js
static/dist/main.bundle.js.map

.env

kubeconfig
kubeconfig.yaml
seed/kubeconfig.yaml

_testing

db.sqlite3
