{% include 'components/no-resource.html' %}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6 hidden" id="keys-table">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Created
            </th>
            <th scope="col" class="px-6 py-3">
                Expiration
            </th>
            <th scope="col" class="px-6 py-3">
                Last Used
            </th>
            <th scope="col" class="px-6 py-3">
                Scope
            </th>
            <th scope="col" class="px-6 py-3">
                Permissions
            </th>
            <th scope="col" class="px-6 py-3">
                Actions
            </th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
