<style>
    .grid-con {
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow: hidden;
    }

    .grid-item {
        display: flex;
        flex-wrap: wrap;
        min-width: 50px;
        gap: 10px;
        align-items: center;
    }

    .grid-item > .block:first-child {
        flex: 0 0 250px;
    }

    .grid-item > .block:last-child {
        flex: 1;
    }

</style>

<div>
    <div class="px-4 py-4 rounded-lg bg-gray-50 bg-white dark:bg-gray-800" id="basics" role="tabpanel">

        <img class="w-24 h-24 mb-8" src="{{ user.avatar }}" alt="avatar">

        <div class="grid-con">
            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Name</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">{{ request.user.first_name }} {{ request.user.last_name }}</div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Email</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">{{ request.user.email }}</div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Role</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">{{ request.user.get_role_display }}</div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Default Namespace</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">
                    <a href="/dashboard/{{ default_ns }}" class="text-blue-500">{{ default_ns }}</a>
                </div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Resource Limit</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">
                    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-white">
                        <li class="list-item">CPU: {{ user.limit.cpu }} Cores</li>
                        <li class="list-item">Memory: {{ user.limit.memory }} GiB</li>
                        <li class="list-item">Disk Space: {{ user.limit.disk }} GiB</li>
                        <li class="list-item">Public IP: {{ user.limit.public_ip }}</li>
                        <li class="list-item">Container Registry {{ user.limit.registry }}</li>
                    </ul>
                </div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Resource Usage</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">
                    <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-white">
                        <li class="list-item">CPU: {{ user.usage.cpu }} Cores</li>
                        <li class="list-item">Memory: {{ user.usage.memory }} GiB</li>
                        <li class="list-item">Disk Space: {{ user.usage.disk }} GiB</li>
                        <li class="list-item">Public IP: {{ user.usage.public_ip }}</li>
                        <li class="list-item">Container Registry {{ user.usage.registry }}</li>
                    </ul>
                </div>
            </div>

            <div class="grid-item">
                <div class="block text-sm font-medium text-gray-900 dark:text-white">Github</div>
                <div class="block text-sm font-medium text-gray-900 dark:text-white">
                    {% if github %}
                        {{ github }}
                        <button id="unlink-github" type="button"
                                class="mx-2 px-1 text-white rounded-md bg-red-700 hover:bg-red-800 focus:ring-4 text-center"
                        >
                            Unlink account
                        </button>
                    {% else %}
                        <button id="link-github" type="button" class="-mt-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 
                        font-medium rounded-lg text-sm px-4 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        >
                            Link Github
                        </button>
                    {% endif %}
                </div>
            </div>

            <script>
                let params = "scrollbars=yes,resizable=yes,status=no,location=no,toolbar=no,menubar=no,width=500,height=600,left=150,top=100";
                {% if not github %}
                    document.getElementById("link-github").addEventListener("click", function () {
                        let newWindow = open('/login/link-account', 'link-github', params);
                        setInterval(() => {
                            if (newWindow.closed) {
                                location.reload();
                            }
                        }, 500);
                    });
                {% else %}
                    document.getElementById("unlink-github").addEventListener("click", function () {
                        let newWindow = open('/login/unlink-account', 'unlink-github', params);
                        newWindow.onload = function () {
                            setTimeout(() => {
                                newWindow.close();
                                location.reload();
                            }, 1000);
                        };
                    });
                {% endif %}
            </script>

        </div>
    </div>
</div>
