{% extends 'layouts/base-public.html' %}
{% load static %}

{% block title %}Osiris Cloud - About{% endblock title %}

{% block content %}
    <section class="grow mt-8 bg-white dark:bg-gray-900 px-4">
        <div class="mx-auto max-w-screen-xl">
            <div class="grid pt-6 text-left">
                <div class="bg-gray-600 rounded-2xl p-6">
                    <img src="{% static 'images/about_banner.png' %}"
                         class="rounded-lg block w-full"
                         alt="banner"
                    >
                </div>
                <p class="text-gray-500 dark:text-gray-400 text-justify mt-6">
                    Osiris Cloud is an open source self-hosted infrastructure platform created by
                    <a href="https://github.com/sproutmaster" target="_blank" class="hover:underline text-blue-600">
                        Joe Prakash
                    </a>
                    for automating and simplifying infrastructure at the OSIRIS Lab. The original goal of the project
                    was to run
                    <a href="https://csaw.io" target="_blank" class="hover:text-primaryColor">CSAW CTF</a>
                    on-prem. Osiris Cloud aims to power the NYU community by providing them with a platform that allows
                    them to reinvent continuously.
                </p>
            </div>

            <h2 class="mt-8 mb-2 pb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Contributors
            </h2>

            <div class="mb-6 lg:mb-16 text-left border border-primaryColor rounded flex" id="contrib"></div>

        </div>
    </section>

    <script>
        const repo = 'osiris-cloud/osiris-cloud';
        const contribElement = document.getElementById('contrib');
        fetch(`https://api.github.com/repos/${repo}/contributors`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to get contributors');
                }
                return response.json();
            })
            .then(data => {
                data.forEach(contributor => {
                    const img = document.createElement('img');
                    img.src = contributor.avatar_url;
                    img.alt = `${contributor.login}'s avatar`;
                    img.className = 'w-[50px] h-[50px] p-[5px] rounded-full m-[5px]';
                    const link = document.createElement('a');
                    link.href = contributor.html_url;
                    link.target = '_blank';
                    link.appendChild(img);
                    contribElement.appendChild(link);
                });
            })
            .catch(error => {
                console.error('Error fetching contributors:', error);
                contribElement.textContent = 'Failed to get contributors';
            });

    </script>

{% endblock content %}
