{% extends 'layouts/base-public.html' %}
{% load static %}

{% block content %}
    <section class="grow mt-8 mb-8 bg-white dark:bg-gray-900 px-4">
        <div class="mx-auto max-w-screen-xl">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Architectural
                Design</h2>
            <div class="grid pt-6 text-left border-t border-gray-200 dark:border-gray-700">
                <p class="text-gray-500 dark:text-gray-400 text-justify">
                    Osiris Cloud is a modern infrastructure solution built on top of kubernetes using enterprise-class
                    open-source technologies including KubeVirt, Kata Containers, and Longhorn. It is designed to be
                    flexible and extensible which enables you to easily run cloud-native containerized apps and virtual
                    machine
                    workloads on the same cluster.
                </p>
                <img src="{% static 'images/arch.png' %}"
                     class="mt-8 rounded-lg block w-full"
                     alt="banner"
                >
            </div>

            <h3 class="mt-8 text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                Core Technologies Used
            </h3>

            <div class="grid pt-4 text-left">
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li class="list-item"><a href="https://kubevirt.io/" class="hover:text-lime-500">KubeVirt</a> -
                        Virtualization API for Kubernetes
                    </li>
                    <li class="list-item"><a href="https://katacontainers.io/" class="hover:text-lime-500">Kata
                        Containers</a> - Secure container runtime
                    </li>
                    <li class="list-item"><a href="https://longhorn.io/" class="hover:text-lime-500">Longhorn</a> - HA
                        persistent storage
                    </li>
                    <li class="list-item"><a href="https://www.loxilb.io/" class="hover:text-lime-500">LoxiLB</a> - High
                        performance eBPF based load-balancer
                    </li>
                    <li class="list-item"><a href="https://github.com/k8snetworkplumbingwg/multus-cni"
                                             class="hover:text-lime-500">Multus</a> - Container Network Interface plugin
                    </li>
                    <li class="list-item"><a href="https://keda.sh/" class="hover:text-lime-500">KEDA</a> - Kubernetes
                        Event Driven Autoscaler
                    </li>
                </ul>
            </div>

            <h3 class="mt-8 text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">Working</h3>
            <div class="grid pt-4 text-left">
                <p class="text-gray-500 dark:text-gray-400 text-justify">
                    KubeVirt allows to run and manage virtual machines alongside containers within a
                    Kubernetes cluster. This provides flexibility by enabling traditional VM based deployments
                    within the same environment as containerized applications.
                    Considering the security challenges of running untrusted workloads, we use Kata containers which
                    provides a strong barrier to privilege escalation and container escape attacks. This enhances
                    security by offering stronger isolation than standard containers providing a secure environment
                    for multi-tenant applications.
                    Longhorn as a Container Storage Interface (CSI) helps create, replicate, and restore block storage
                    volumes, ensuring data durability and availability.
                    Networking is the most important part of any cluster. In order to be performant, we utilize LoxiLB
                    that leverages eBPF (extended Berkeley Packet Filter). It can handle large volumes of traffic
                    efficiently, making it suitable for large-scale deployments.
                    Multus allows attaching multiple network interfaces to containers and VMs, enabling complex
                    networking setups. This is particularly useful for network intensive applications that require
                    multiple network interfaces for different types of traffic (e.g., management, data, and storage
                    networks).
                    KEDA enables event-driven scaling in Kubernetes by allowing workloads to scale based on external
                    events, such as messages in a queue or metrics from an external system. This is essential for
                    applications that experience varying workloads, as it allows for automatic scaling in response to
                    demand.

                </p>
            </div>

            <h3 class="mt-8 text-xl tracking-tight font-extrabold text-gray-900 dark:text-white">Integrating the
                Components</h3>
            <div class="grid pt-4 text-left">
                <p class="text-gray-500 dark:text-gray-400 text-justify">
                    Core Infrastructure would run Kubernetes which would serve as the orchestration layer, managing
                    containers and VMs. LoxiLB would handle load balancing, while Multus would enable advanced network
                    configurations for your containers and VMs. Longhorn would provide persistent storage to ensure data
                    availability and durability across services. KEDA would manage the scaling of workloads in
                    response to real-time events. Each component would work together to deliver a scalable, secure,
                    and efficient cloud service.
                </p>
            </div>

        </div>
    </section>
{% endblock content %}
