{% extends 'layouts/base-public.html' %}
{% load static %}

{% block title %}Osiris Cloud - EULA{% endblock title %}

{% block content %}
    <section class="grow mt-8 bg-white dark:bg-gray-900 px-4">
        <div class="mx-auto max-w-screen-xl p-4">
            <div class="grid text-left">
                <h2 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white">
                    End User License Agreement
                </h2>
                <p class="mb-4 text-gray-400 text-justify">
                    This Customer Agreement (this “Agreement”) contains the terms and conditions that govern your
                    access to and use of the Services (as defined below) and is an agreement between Osiris Cloud
                    (also referred to as “Osiris Cloud,” "Provider", "Service", “we,” “us,” or “our”) and you. This
                    Agreement takes effect when you Login or when you use any of the Services.
                </p>
                <p class="mb-4 text-gray-400 text-justify">
                    Unauthorized use of New York University Resources including Osiris Cloud are subject to criminal
                    and civil penalties, as well as to University disciplinary proceedings.
                </p>

                <h3 class="text-white font-bold">
                    Grant of License
                </h3>
                <ul class="mt-4 space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li class="list-item">
                        License: We grant the User a non-exclusive, non-transferable, and limited license to use the
                        Service for academic, research, and administrative purposes in compliance with university
                        policies.
                    </li>
                    <li class="list-item">
                        Scope: This license is provided solely for activities within a university setting and is not for
                        commercial use unless explicitly authorized.
                    </li>
                </ul>

                <h3 class="text-white font-bold mt-4">
                    Acceptable Use
                </h3>
                <ul class="mt-4 space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li class="list-item">
                        Compliance: Users must comply with all applicable laws, university regulations, and the terms of
                        this EULA.
                    </li>
                    <li class="list-item">
                        Prohibited Activities: Users may not:
                        <ul class="mt-1 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 ml-4">
                            <li class="list-item">
                                Use the Service to engage in illegal or malicious activities.
                            </li>
                            <li class="list-item">
                                Share access credentials.
                            </li>
                            <li class="list-item">
                                Violate intellectual property rights of the Provider or any third party.
                                <ul class="mt-1 space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400 ml-4">
                                    <li class="list-item">
                                        Monitoring: The Provider reserves the right to monitor usage for compliance and
                                        security purposes.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                <h3 class="text-white font-bold mt-4">
                    Intellectual Property
                </h3>
                <ul class="mt-4 space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li class="list-item">
                        Ownership: All intellectual property rights in the Service, including software, documentation,
                        and trademarks, remain the exclusive property of the Provider.
                    </li>
                    <li class="list-item">
                        User Data: The User retains ownership of any data uploaded to the Service. However, we
                        may use aggregated and anonymized data for improving the Service.
                    </li>
                </ul>

                <h3 class="text-white font-bold mt-4">
                    Privacy and Security
                </h3>
                <ul class="mt-4 space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li class="list-item">
                        Privacy: The Provider respects User privacy and will adhere to applicable privacy laws and
                        university policies. Our privacy policy is available at
                        <a href="/privacy"
                           class="text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700">
                            osirscloud.io/privacy.
                        </a>
                    </li>
                    <li class="list-item">
                        Data Security: The Provider implements reasonable measures to protect User data but cannot
                        guarantee absolute security.
                    </li>
                </ul>

                <h3 class="text-white font-bold mt-4">
                    Termination
                </h3>
                <ul class="mt-4 space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li class="list-item">
                        By User: Users may terminate their access to the Service at any time.
                    </li>
                    <li class="list-item">
                        By Provider: The Provider may suspend or terminate access if the User violates this EULA or
                        university policies.
                    </li>
                    <li class="list-item">
                        Effect of Termination: Upon termination, the User must cease all use of the Service and delete
                        any locally stored components of the Service.
                    </li>
                </ul>

                <h3 class="text-white font-bold mt-4">
                    Disclaimer of Warranties
                </h3>
                <p class="mt-4 text-gray-400 text-justify">
                    The Service is provided "as is" without warranties of any kind, including but not limited to
                    merchantability, fitness for a particular purpose, or non-infringement.
                </p>

                <h3 class="text-white font-bold mt-4">
                    Limitation of Liability
                </h3>
                <p class="mt-4 text-gray-400 text-justify">
                    To the maximum extent permitted by law, the Provider is not liable for any indirect, incidental,
                    or consequential damages arising out of the use or inability to use the Service.
                </p>

                <p class="mt-6 mb-6 text-gray-400 text-justify">
                    By using the Service, you acknowledge that you have read, understood, and agreed to the terms of
                    this EULA.
                </p>

            </div>
        </div>
    </section>
{% endblock content %}
