{% extends 'layouts/base-public.html' %}
{% load static %}

{% block title %}Osiris Cloud - Enterprise Infrastructure Systems{% endblock title %}

{% block top_import %}
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock top_import %}

{% block content %}
    <section id="main-hero" class="bg-white py-8 dark:bg-gray-900 flex-1">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 mt-6">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-1 text-4xl text-white font-bold font-pt-sans tracking-tight leading-none md:text-5xl xl:text-7xl inline-block bg-gradient1">
                    Infrastructure for
                </h1>
                <br/>
                <h1 class="max-w-2xl text-4xl text-gray-100 font-bold font-pt-sans tracking-tight leading-none md:text-5xl xl:text-7xl inline-block bg-gradient2">
                    the better web
                </h1>
                <p class="max-w-2xl mt-6 font-light text-gray-400 md:text-lg lg:text-xl">
                    Dev-centric, secure and open-source cloud
                </p>
                <p class="max-w-2xl mt-10 font-light text-gray-400 text-justify">
                    Osiris Cloud by
                    <a href="https://osiris.cyber.nyu.edu" target="_blank" class="hover:text-lime-500">
                        OSIRIS Lab
                    </a>
                    is a cloud platform that offers a range of services to help eliminate infrastructure
                    barriers at NYU. The platform provides a secure and reliable way to do homework, build and deploy
                    applications - so you can focus on what you do best.
                </p>
            </div>
        </div>
    </section>

{% endblock content %}
