{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <title>{% block title %}Osiris Cloud{% endblock title %}</title>
    {% include "components/head.html" %}
    {% block top_import %}{% endblock top_import %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Infrastructure for the better web">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'common/icon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'common/icon.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="Osiris Cloud">
    <meta name="twitter:description" content="Infrastructure for the better web">

    <link rel="stylesheet" href="{% static 'dist/main.css' %}">
    <script>
        if (localStorage.getItem('theme') === 'dark' || !('theme' in localStorage)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-PQ72NPDT');</script>
    <!-- End Google Tag Manager -->
</head>

<body class="min-h-screen flex flex-col bg-gray-50 dark:bg-gray-900">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ72NPDT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% block navbar %}
        {% include 'components/navbar/navbar-public.html' %}
    {% endblock navbar %}
    {% block content %} {% endblock content %}
    {% block footer %}
        {% include 'components/footer/footer-public.html' %}
    {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>

</html>
