<div id="role-dropdown"
     class="z-10 hidden w-50 bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600">
    <ul class="text-sm text-gray-700 dark:text-gray-200">
        <li id="role-manager"
            class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
            <svg id="role-selected-svg" class="w-5.5 h-5.5 text-gray-500 dark:text-gray-300"
                 xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                 fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round"
                      stroke-linejoin="round" stroke-width="2"
                      d="M5 11.917 9.724 16.5 19 7.5">
                </path>
            </svg>
            <div class="ml-4 text-gray-500 dark:text-gray-300 cursor-default">Manager</div>
        </li>
        <li id="role-viewer"
            class="flex items-center p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
            <div class="ml-4 text-gray-500 dark:text-gray-300 cursor-default">Viewer</div>
        </li>
        <li id="role-transfer-ownership"
            class="flex items-center p-2 pr-3 rounded-b hover:bg-gray-100 dark:hover:bg-gray-600">
            <div class="ml-4 text-gray-500 dark:text-gray-300 cursor-default">Transfer Ownership</div>
        </li>
        <li id="role-remove-user"
            class="flex items-center mt-0.5 p-2 rounded-b hover:bg-gray-100 dark:hover:bg-gray-600 border-t border-gray-400">
            <div class="ml-4 text-gray-500 dark:text-gray-300 cursor-default">Remove</div>
        </li>
    </ul>
</div>