.bg-gradient1 {
    background: linear-gradient(to right, rgb(78, 208, 241), #abf6ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInTop 1s ease-out forwards;
}

.bg-gradient2 {
    background: linear-gradient(to right, rgb(78, 208, 241), rgb(189, 206, 217));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInTop 1s ease-out forwards;
}

#main-hero {
    width: 100%;
    background: url('/static/images/wave.svg') no-repeat;
    background-size: cover;
    height: fit-content;
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
