<div id="alert-modal" tabindex="-1"
     class="modal hidden opacity-0 scale-90 fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-[calc(100%-1rem)] max-h-full transition-all duration-300 ease-out"
>
    <div class="relative p-1 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 border border-gray-600">
            <div class="p-2 md:p-5 text-center">
                <svg id="alert-icon-info" class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200 hidden"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z">
                    </path>
                </svg>
                <svg id="alert-icon-check" class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200 hidden"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z">
                    </path>
                </svg>
                <h3 id="alert-message" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"></h3>
                <button id="alert-ok" type="button"
                        class="text-white bg-primary-600 hover:bg-primary-800 font-medium rounded-lg text-sm inline-flex items-center px-6 py-2 text-center">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>
<div data-modal-target="alert-modal" data-modal-toggle="alert-modal" class="hidden"></div>
