<div id="popup-modal" tabindex="-1"
     class="modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-6 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="p-4 md:p-5 text-center">
                <svg id="popup-icon-info" class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200 hidden"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z">
                    </path>
                </svg>
                <svg id="popup-icon-check" class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200 hidden"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z">
                    </path>
                </svg>
                <h3 id="popup-message" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"></h3>
                <button id="popup-confirm" type="button"
                        class="text-white bg-primary-600 hover:bg-primary-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                    Confirm
                </button>
                <button id="popup-deny" type="button"
                        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100
                         hover:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="hidden"></div>
