{% extends "layouts/base-admin.html" %}
{% load static %}

{% block title %} Admin Console | Dashboard {% endblock title %}

{% block content %}
    <main class="grow">
        <div class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:items-center md:p-6 xl:p-6 dark:bg-gray-800">
            <div class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">
                Osiris Cloud Admin Console
            </div>
            <br>
            <p class="dark:text-white">Admin console lets you manage the cluster, resources and users.</p>
            <br>
            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
                Excuse the appearance. A More comprehensive dashboard is coming soon&trade;
            </h2>
        </div>
    </main>
{% endblock content %}
