<style>
    .grid-con {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
        grid-row-gap: 35px;
        justify-items: stretch;
        align-items: stretch;
        overflow: hidden;
    }

    .grid-item {
        display: grid;
        min-width: 200px;
        grid-template-columns: 16em 20em;
        grid-template-rows: 30px;
        grid-column-gap: 20px;
    }
</style>


<div class="px-4 pt-6 pb-1.5 rounded-lg bg-gray-50 bg-white dark:bg-gray-800">
    <div class="grid-con mt-0.5">
        <div class="grid-item">
            <label for="registry-name"
                   class="block text-sm font-medium pt-1.5 text-gray-900 dark:text-white">Registry Name</label>
            <input type="text" id="registry-name"
                   class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="Enter a name" required/>
        </div>

        <div class="grid-item mb-1.5">
            <label for="registry-slug"
                   class="block text-sm font-medium pt-1.5 text-gray-900 dark:text-white">Registry URL</label>
            <div>
                <input type="text" id="registry-slug"
                       class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Enter a slug between 3 and 32 chars" required maxlength="32" minlength="3"/>
                <div class="inline-flex mt-1">
                    <span id="registry-slug-preview" class="text-xs text-gray-500 dark:text-gray-300"></span>
                    <span class="float-left text-xs text-gray-500 dark:text-gray-300">.registry.osiriscloud.io</span>
                </div>
            </div>
        </div>

{#        <div class="grid-item mt-1">#}
{#            <label for="registry-public" class="block pt-1 mb-2 text-sm font-medium text-gray-900 dark:text-white">#}
{#                Public Repo#}
{#            </label>#}
{#            <div class="flex items-center mb-4">#}
{#                <label for="registry-public"></label>#}
{#                <input id="registry-public" type="checkbox"#}
{#                       class="w-4 h-4 mt-3.5 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">#}
{#                <div class="inline-block ml-2 mt-3.5 text-sm text-gray-900 dark:dark:text-gray-100">#}
{#                    Do not require authentication to pull#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="grid-item">
            <label for="registry-password-1"
                   class="block mb-2 pt-1.5 text-sm font-medium text-gray-900 dark:text-white">
                Login Password
            </label>
            <div>
                <input type="text" id="registry-password"
                       class="h-8 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="•••••••••••••" required/>
                <span class="text-xs mt-5 text-gray-500 dark:text-gray-400">Login info can be viewed after creation</span>
            </div>
            <span id="generate-password" style="left: 670px;"
                  class="pt-1.5 absolute text-primary-400 text-sm cursor-pointer hover:text-primary-500">[ Generate ]</span>
        </div>
        <div></div>
    </div>
</div>

<button type="button" id="registry-create"
        class="mt-4 text-white bg-primary-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    Validate
</button>
