<div class="flex flex-col bg-gray-50 bg-white dark:bg-gray-800 p-6 rounded-lg space-y-6">
    <div class="flex flex-wrap w-full md:w-auto md:items-center gap-4">
        <label for="registry-url" class="text-sm font-medium text-gray-900 dark:text-white mb-2 md:mb-0
         flex-shrink-0 w-full md:w-40"
        >
            Registry URL
        </label>

        <div class="relative flex-shrink-0 w-full md:w-auto">
            <input id="registry-url" type="text" readonly
                   class="h-9 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg 
                       focus:ring-blue-500 focus:border-blue-500 block w-full md:w-[30em] p-2.5 dark:bg-gray-700 
                       dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 
                       dark:focus:border-blue-500 cursor-text"
                   value="{{ cr.url }}"
            >

            <button id="copy-registry-url" onclick='copyToClip("{{ cr.url }}",
                    "copy-icon-registry-url",
                    "success-icon-registry-url",
                    "tooltip-registry-url"
                    )'
                    data-tooltip-target="tooltip-registry-url"
                    class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 
                        dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
            >
                <span id="copy-icon-registry-url">
                    <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z">
                        </path>
                    </svg>
                </span>
                <span id="success-icon-registry-url" class="hidden inline-flex items-center">
                    <svg class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5.917 5.724 10.5 15 1.5">
                        </path>
                    </svg>
                </span>
            </button>

            <div id="tooltip-registry-url" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 text-center">
                <span>Copy URL</span>
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

        </div>
    </div>
    <div class="flex flex-wrap w-full md:w-auto md:items-center gap-4">
        <label for="registry-username" class="text-sm font-medium text-gray-900 dark:text-white mb-2 md:mb-0
         flex-shrink-0 w-full md:w-40"
        >
            Login Username
        </label>

        <div class="relative flex-shrink-0 w-full md:w-auto">
            <input id="registry-username" type="text" readonly
                   class="h-9 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg 
                       focus:ring-blue-500 focus:border-blue-500 block w-full md:w-[30em] p-2.5 dark:bg-gray-700 
                       dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 
                       dark:focus:border-blue-500 cursor-text"
                   value="{{ cr.username }}"
            >

            <button id="copy-registry-username" onclick='copyToClip("{{ cr.username }}",
                    "copy-icon-registry-username",
                    "success-icon-registry-username",
                    "tooltip-registry-username"
                    )'
                    data-tooltip-target="tooltip-registry-username"
                    class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 
                        dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
            >
                <span id="copy-icon-registry-username">
                    <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z">
                        </path>
                    </svg>
                </span>
                <span id="success-icon-registry-username" class="hidden inline-flex items-center">
                    <svg class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5.917 5.724 10.5 15 1.5">
                        </path>
                    </svg>
                </span>
            </button>

            <div id="tooltip-registry-username" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 text-center">
                <span>Copy Username</span>
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

        </div>
    </div>
    <div class="flex flex-wrap w-full md:w-auto md:items-center gap-4">
        <label for="registry-password" class="text-sm font-medium text-gray-900 dark:text-white mb-2 md:mb-0
         flex-shrink-0 w-full md:w-40"
        >
            Login Password
        </label>

        <div class="relative flex-shrink-0 w-full md:w-auto">
            <input id="registry-password" type="password" readonly data-tooltip-target="tooltip-registry-password-input"
                   class="h-9 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg 
                       focus:ring-blue-500 focus:border-blue-500 block w-full md:w-[30em] p-2.5 dark:bg-gray-700 
                       dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 
                       dark:focus:border-blue-500 cursor-text"
                   value="{{ cr.password }}"
                   onclick="this.type = 'text'; $('#tooltip-registry-password-input').addClass('hidden')"
            >

            <button id="copy-registry-password" onclick='copyToClip(
                    "{{ cr.password }}",
                    "copy-icon-registry-password",
                    "success-icon-registry-password",
                    "tooltip-registry-password"
                    )'
                    data-tooltip-target="tooltip-registry-password"
                    class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 
                        dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center"
            >
                <span id="copy-icon-registry-password">
                    <svg class="w-3.5 h-3.5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                        <path d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z">
                        </path>
                    </svg>
                </span>
                <span id="success-icon-registry-password" class="hidden inline-flex items-center">
                    <svg class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 16 12">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5.917 5.724 10.5 15 1.5">
                        </path>
                    </svg>
                </span>
            </button>

            <div id="tooltip-registry-password" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 text-center">
                <span>Copy Password</span>
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

            <div id="tooltip-registry-password-input" role="tooltip"
                 class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 text-center">
                <span>Click to Reveal</span>
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>

        </div>
    </div>
</div>

<h5 class="mt-8 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Images</h5>

<div class="mt-6 relative overflow-x-auto sm:rounded-lg">
    {% include 'components/no-resource.html' %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Image Name
            </th>
            <th scope="col" class="px-6 py-3">
                Tag
            </th>
            <th scope="col" class="px-6 py-3">
                Size
            </th>
            <th scope="col" class="px-6 py-3">
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Apple MacBook Pro 17"
            </th>
            <td class="px-6 py-4">
                Silver
            </td>
            <td class="px-6 py-4">
                Laptop
            </td>
            <td class="px-6 py-4">
                $2999
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
        </tr>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Microsoft Surface Pro
            </th>
            <td class="px-6 py-4">
                White
            </td>
            <td class="px-6 py-4">
                Laptop PC
            </td>
            <td class="px-6 py-4">
                $1999
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
        </tr>
        <tr class="bg-white dark:bg-gray-800">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                Magic Mouse 2
            </th>
            <td class="px-6 py-4">
                Black
            </td>
            <td class="px-6 py-4">
                Accessories
            </td>
            <td class="px-6 py-4">
                $99
            </td>
            <td class="px-6 py-4">
                <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% include 'components/container_registry/registry-guide.html' %}
